/*Esta animación inicial es para cuando carguen las página les de un efecto de aparición*/
@keyframes aparece {
    from { opacity: 0; }
    to { opacity: 1; }
}
@font-face {
    font-family: RobotoCondensed;
    src: url(../fuentes/static/RobotoCondensed-Regular.ttf);
}
body{
    font-family: RobotoCondensed;
    background-color: #228B22;
    margin: 0;
    animation: aparece 2s ease-in-out;
}

/*Menú que irá en la parte superior de cada página*/
.menu{
    position:sticky;
    top: 0;
    background-color: #114711;
    z-index: 1000;/*uso z-index para evitar que las imagenes y carrusel se pongan por encima del menú*/
}
.menu ul{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
/*Evita que los textos largos se ponga en dos líneas*/
.flex2{
    white-space: nowrap;
}
.menu ul li{
    list-style: none;
    margin: 0;
}
.menu ul li a{
    text-align: center;
    text-decoration: none;
    color:white;
    display:block;
    padding: 25px 150px;
    font-size: 1.3rem;
    border: 2px transparent solid;
}
.menu ul li a:hover{
    border: 2px white solid;
}

/*Estilos de index*/
.fondoPrincipal img{
    width: 100%;
    height: 60vh;
    position: relative;
}
.negro{
    width: 100%;
    height: 60vh;
    background-color: #00000076;
    position: absolute;
    top: 80px;
}
.bienvenida h1{
    position: absolute;
    left: 2%;
    color:#FFF;
    top: 55%;
    font-size: 3rem;
}
.texto-principal{
    margin-left: 7.5%;
    font-size: 1.2rem;
}
.texto-principal button{
    background-color: #ffffff;
}
.eventos-texto{
    margin-left: 7.5%;
    font-size: 1.4rem;
    margin-bottom: 10%;
    margin-top: 8%;
}
h3{
    text-align: center;
}
button{
    padding: 10px;
}
/*Estilos diferentes para el botón ya que se desaparece el texto del link  (el resto se ponen blancos con el cursor encima)*/
button a{
    text-decoration: none;
    color: black
}
button a:hover{
    color: black;
    cursor: pointer;
    text-decoration: none;
}
.carousel{
    width: 500px;
    height: 300px;
    overflow: hidden;
    position: relative;
    display: block;
    justify-content: center;
    margin: auto;
}
.carousel a img{
    width: 100%;
    height: 100%;
    position: absolute;
    animation: slide 12s infinite reverse ease-in-out;
}
/*Carrusel de index*/
@keyframes slide{
    0% { transform: translateX(0); }
    25% { transform: translateX(0); }
    30% { transform: translateX(100%); }
    55% { transform: translateX(100%); }
    60% { transform: translateX(200%); }
    85% { transform: translateX(200%); }
    90% { transform: translateX(300%); }
    100% { transform: translateX(300%); }
}
.carousel a:nth-child(2) img{
    animation-delay: 3s;
}
.carousel a:nth-child(3) img{
    animation-delay: 6s;
}
.carousel a:nth-child(4) img{
    animation-delay: 9s;
}
/*Con el media hago que el carusel sea responsive al tamaño de la pestaña*/
@media(max-width: 991px){
    body{
        padding: 30px;
    }
    .carousel{
        width: 100%;
    }
}
.resto-eventos{
    margin-left: 7.5%;
    font-size: 1.2rem;
    margin-top: 10%;
    margin-bottom: 100px;
}
.resto-eventos a{
    text-decoration: none;
    color: black;
}
/*Estilos del footer que apicarán a todas las páginas*/
footer{
    background-color: #114711;
    border: 4%;

    padding: 3%;
    color: white;
}
footer ul{
    list-style-type: none;
}
footer a{
    text-decoration: none;
    color: white;
}
a:hover{/*estilos para cuando se ponga el cursor encima de los links*/
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

/*Estilos de la página LISTADO*/
/*Creo un fondo para el listado que va a decorar el fondo de la mayor parte de la página*/
.fondoTitulo{
    width: 80%;
    height: auto;
    position: relative;
    margin: 0 10% 0; /*Lo centra horizontalmente*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0;
}
.fondoTitulo img{
    width: 80%;
    height: auto;
}
.negro1{
    width: 80%;
    height: 100%;
    background-color: #00000076;
    position: absolute;
    top: 0;
}
/*A partir de aquí a mayoría de los estilos en esta sección son ajustes para que se vean centrados en base al fondo*/
.titulo{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 1%;
}
.titulo a{
    color: white;
    text-decoration: none;
}
.titulo a:hover{
    text-decoration: underline;
    color: white;
    cursor: pointer;
}
.listado-eventos{
    position: absolute;
    width: 100%;
    height: 100%;
}
.listado-eventos table{
    width: 80%; 
    margin: 0 15%;
    height: 80%;
}
.listado-eventos table td{
    padding: 90px;
    text-align: center;
}
.listado-eventos table td ul{
    padding-left: 0px;
}
.listado-eventos table td h2{ /*Acomodo el h2*/
    margin: 0%;
    padding: 0%;
}
.listado-eventos ul{
    position: absolute;
    list-style-type: none;
}
.listado-eventos ul a{
    text-decoration: none;
    font-size: 1.1rem;
    color: inherit;
}
.listado-eventos ul a:hover{/*estilos para cuando se ponga el cursor encima de los links*/
    text-decoration: underline;
    color: white;
    cursor: pointer;
} 

/*Estilos de las páginas de los eventos*/
.evento{
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.evento-contenido{
    padding: 80px;
    text-align: justify;
    width: 40%;
    height: auto;
    font-size: 1.1rem;
}
.evento-contenido img{
    width: 90%;
    height: auto;
    
}

/*Estilos de la página de registro*/
.container-datos input{
    width: 30%;
    padding: 2px;
    margin: 50px auto; /*Espacio entre los campos*/
    display: block; /*Hace que los inputs se pongan uno debajo del otro*/
    align-items: center;
}